<%
@product = build_product_item
@product_details = @product.product_details
@product_colors = @product_details.group(:color).where(:sku_active=>true) || [{:size=>'N/C'}] rescue [{:size=>'N/C'}]
@product_sizes = @product_details.select("distinct `size`, `units_in_stock`").where("`color` = '#{@product_colors[0].color}'").where(:sku_active=>true)  || [{:size=>'N/S', :units_in_stock=>"0"}] rescue [{:size=>'N/S', :units_in_stock=>"0"}]
@product_size_array = @product_sizes.map{ |f| f.size }


%>


<div class="product-block" data-id="<%=@product.id%>" >
<div class="product-section">
    <div class="product-image">
      <%=link_to(image_tag(build_product_item.list_view_image.blank? ? "empty_s.jpg" : build_product_item.list_view_image.image_url(:store_list_windsor).to_s,:class=>"product-image").html_safe, {:action=>:product_detail, :controller=>:site, :id=>build_product_item.id}) rescue "" %>
    </div>
    
    <%=build_product_item.category_list.first %><br>
    <%=build_product_item.product_name %><br>
    <%=build_product_item.product_description %><br> 


    <div id="product-sizes">
        <% @product_size_array.each_with_index do |each_item, counter|  %>
          <div id="size-name" class="hidden-item"><%=each_item%></div>
          <div class="column"> <%=each_item%></div>
        <% end %>
    </div>

    <% @product_cart_items = @cart.get_cart_items(build_product_item) %>

    <div id="product-size-color">
        <div id="product-size-color-items">
            <% @product_colors.each_with_index do |color, index| %>
              <div class="row">
                  <div class="row-title"><%=color.color%></div>
                  <% @product_size_array.each_with_index do |size, counter|  %>
                    <div class="product-size-color-item">
                        <div class="column">  
    <%#@test =  @product_cart_items.find{|item| ((item.product_detail.color==color.color) && (item.product_detail.size==size))} 

    @test.product
    %>
                            <%@found_cart_item = @cart.get_cart_item_color_size_product(@product,color.color,size)%>

                            <%if(!@found_cart_item.blank? )then%>
                              <%= editablefieldcreate('quantity', @found_cart_item,"0",{:path=>"update_cart_item?product=#{@product.id}&color=#{color.color}&size=#{size}" }) %>
                            <%else %>
                              n/a
                            <%end%>



    <%#=text_field_tag("color_size[" +color.color.tr(" ","2z1AaA1z2") + "_" + each_item.gsub("-","a")+ "]")   %>

                        </div>
                    </div>
                  <% end %>
              </div>
            <% end %>
        </div>
    </div>
<div class="product-summary">
   <%= render(partial: "build_order_product_summary.html") %>
</div>

    <%#*@product_cart_items.find {|item| item.product_detail.color==color and item.product_detail.size==size}%>
<%#= render(:partial => "build_product_detail_item" , :collection => @cart.get_cart_items(build_product_item)) %>

<%#= @cart.get_cart_items(build_product_item).each do |detail_item| %>

<%#=detail_item.inspect%>

<%# end %>

</div>
</div>