<%
@product = build_product_item
@product_details = @product.product_details
@product_colors = @product_details.group(:color).where(:sku_active=>true) || [{:size=>'N/C'}] rescue [{:size=>'N/C'}]
@product_sizes = @product_details.select("distinct `size`, `units_in_stock`").where("`color` = '#{@product_colors[0].color}'").where(:sku_active=>true)  || [{:size=>'N/S', :units_in_stock=>"0"}] rescue [{:size=>'N/S', :units_in_stock=>"0"}]
@product_size_array = @product_sizes.map{ |f| f.size }


%>

<%@found_cart_item = @cart.get_cart_items(@product)[build_product_item_counter]%>
<%# @found_cart_item.inspect %>



<div class="product-block" data-id="<%=@product.id%>" >
    <div class="product-float">
        <div class="table-cell product-description-section">
            <div class="product-data-float">
                <div class="product-image">
                    <%=link_to(image_tag(build_product_item.pictures.first.blank? ? "empty_s.jpg" : build_product_item,:class=>"product-image").html_safe, {:action=>:product_detail, :controller=>:site, :id=>build_product_item.id}) %>
                </div>

                <div class="product-name">
                    <%=build_product_item.product_name %><br>
                </div>
                <div class="product-description">

                    <%=build_product_item.product_description %><br> 
                </div>
            </div>
        </div>
        <div class="table-cell product-upc-section">
            <div class="product-data-float">

                <%=build_product_item.product_details.first.inventory_key rescue "n/a" %>
            </div>
        </div>
        <div class="table-cell product-quantity-section">
            <div class="product-data-float">
                <%if(!@found_cart_item.blank? )then%>
                  <%= editablefieldcreate('quantity', @found_cart_item,"0",{:path=>"/site/update_cart_item?product=#{@product.id}&gift=11&color=N/C&size=N/S" }) %>
                <%else %>
                  n/a
                <%end%>            </div>

        </div>
        <div class="table-cell product-price-section">
            <div class="product-data-float">
                <%=number_to_currency(build_product_item.msrp) %>
            </div>
        </div>
    </div>
</div>
