<%=page_attr_display(@page, "false") %>


<div class="top-product-block">

        <%= render(:partial => "build_order", :object => @cart) %>
                 
  </div>

<div class="bottom-navigation-block">




  <%#= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :border=>"0"), express_checkout_new_order_path %>

  <%#= link_to image_tag("buynow.jpg"), @cart.standard_checkout(url_for(:controller=>:store, :action=>:store_list, :only_path=>false), url_for(:controller=>:orders, :action=>:new , :only_path=>false)) %>

      <div class="nav-cart-bottom"> 
           <div class="nav-cart-left bridalreg-button">
          <%=link_to "<< Back to wish list" ,{:action=>:show_gifts, :controller=>:site, :id=>@cart.bride.first.id}, {:class=>"navigation-link"} %>
        </div>
          
        <div class="nav-cart-left bridalreg-button">
         <%=link_to "Cancel Order" ,{:action => :empty_cart, :controller=>:site, :redirect=>"site:show_gifts", :id=>@cart.bride.first.id}, {:class=>"navigation-link"} %>
        </div>

       <div class="nav-cart-right bridalreg-button">
          <%=link_to "Reserve Items >>" ,{:action => :enter_order}, {:class=>"navigation-link validate-login continue-link"} %>
       </div>

      </div>

</div>

<%# console %>